
stored_data/wiki_data/text/zz_Store Done/AE/.DS_Store
stored_data/wiki_data/text/zz_Store Done/AB/.DS_Store
stored_data/wiki_data/text/zz_Store Done/AA/.DS_Store
stored_data/wiki_data/text/zz_Store Done/.DS_Store
stored_data/wiki_data/text/AE/.DS_Store
stored_data/wiki_data/text/AB/.DS_Store
stored_data/wiki_data/text/AA/.DS_Store
stored_data/wiki_data/Backup/AA/.DS_Store
stored_data/wiki_data/Backup/.DS_Store
stored_data/wiki_data/.DS_Store
stored_data/score_database/combined_score/.DS_Store
stored_data/score_database/.DS_Store
stored_data/cards_data/.DS_Store
stored_data/.DS_Store
stored_data.zip
.DS_Store
